apiVersion: openinfradev.github.com/v1
kind: HelmValuesTransformer
metadata:
  name: site

global:
  # These values are replaced on cluster creation by workflow
  clusterName: cluster.local
charts:
- name: cluster-api-byoh
  override:
    cluster:
      name: $(clusterName)
      kubernetesVersion: v1.25.11
    machineDeployment:
    - name: taco
      replicas: 1
      selector:
        matchLabels:
          role: tks
      labels:
        servicemesh: enabled
        taco-egress-gateway: enabled
        taco-ingress-gateway: enabled
        taco-lma: enabled
    - name: normal
      replicas: 1
      autoscaling:
        minSize: 1
        maxSize: 5
      selector:
        matchLabels:
          role: worker

- name: ingress-nginx
  override:
    controller:
      nodeSelector:
        taco-lma: enabled
      resources:
        requests:
          cpu: 2000m
          memory: 4Gi
      service:
        externalTrafficPolicy: Local
        type: NodePort
      config:
        enable-underscores-in-headers: "true"
        proxy-body-size: "10m"

- name: cluster-autoscaler
  override:
    discoveryNamespace: $(clusterName)
    discoveryClusterName: $(clusterName)

- name: cluster-autoscaler-rbac
  override:
    deployMgmtRbacOnly:
      targetNamespace: $(clusterName)
